#subtitle{
    font-size: 42px;
text-align: center;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
  color: #fff;

  @media (max-width: 768px) {
      margin-top: 12px;
      font-size: 32px;
  }
}

.skill-card {
    text-align: center;
    padding: 15px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(231, 101, 101, 0.8);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(231, 101, 101, 0.3); /* Add box-shadow */
  }
  
  .skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(231, 101, 101, 0.5); /* Adjust glow on hover */
  }
  
  .skill-image {
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
    color: rgba(231, 101, 101, 0.8);
  }
  
  .skill-name {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }