#subtitle {
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
  color: #fff;

  @media (max-width: 768px) {
    margin-top: 12px;
    font-size: 32px;
  }
}

.cert-carousel {
  width: 90%;
  margin: auto;
  height: 60%;
  margin-block-start: 30px;

  @media (max-width: 768px) {
    height: 70%;
    margin-bottom: 20px;
  }
}

.cert-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    height: 200px;
  }
}
